# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
bin

# Test binary, build with `go test -c`
*.test

# Output of Makefile targets using sed on MacOS systems
*.yaml-e

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# IntelliJ
.idea/
*.iml

# go.work files
go.work
go.work.sum

# Common editor / temporary files
*~
*.tmp
.DS_Store

# test results
_artifacts

# Used during parts of the build process. Files _should_ get cleaned up automatically.
# This is also a good location for any temporary manifests used during development
tmp

# asdf (not a typo! ;) used to manage multiple versions of tools
.tool-versions

# Development container configurations (https://containers.dev/)
.devcontainer

# release artifacts
out

